[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
mysqlclient = "*"
factory-boy = "==3.3.3"
faker = "==37.5.3"
pillow = "==11.2.1"

[dev-packages]

[requires]
python_version = "3.9"
